<section class="sponsors" id="sponsor">
  <div class="wrapper">
    <h2 class="section-title">Comunidades</h2>
    <div class="row">
      <div class="col-md-offset-2 col-md-7">
        <p class="text-justify">
         A <strong>#QuarenTech</strong> nasceu do espírito inquieto dos professores e alunos da Faculdade Ielusc, porém diversas comunidades abraçaram a causa e foram fundamentais para que este evento se tornasse realidade. Um evento de tecnologia sem pessoas e sem comunidades envolvidas fica vazio de sentido, por isso vamos manter o mantra que está no nosso DNA: disseminar conhecimento de forma livre e plural. Obrigada, parceiros, por tonar a #quarentech possível.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a href="https://opensanca.com.br/" target="_blank">
          <img 
            src="../../../../assets/img/logo-opensanca.svg"
            alt="Opensanca" title="Opensanca" class="img-responsive">
        </a>
      </div>
      <div class="col-md-2">
        <a href="#">
          <img 
            src="../../../../assets/img/codenation-logo.png"
            alt="CodeNation" title="CodeNation" class="img-responsive">
        </a>
      </div>
      <div class="col-md-2">
        <a href="https://www.cocoaheads.com.br/cidades/detalhes/7">
        <img 
          src="../../../../assets/img/cocoaheads-logo.png"
          alt="CocoaHeads Campinas" title="CocoaHeads" class="img-responsive">
        </a>
      </div>
          <div class="col-md-2">
        <a href="" target="_blank">
         <h1 class="text-center"> TechJille</h1>
        </a>
      </div>
      <div class="col-md-2">
        <a href="https://www.opensanca.com.br" target="_blank">
          <img 
            src="../../../../assets/img/logo-railsgirls.png"
            alt="RailsGirls" title="RailGirls" class="img-responsive">
        </a>
      </div>
      <div class="col-md-2">
        <a href="#">
          <img 
            src="../../../../assets/img/logo-women-summit-sticker.png"
            alt="Women Dev Summit" title="Women Dev Summit" class="img-responsive">
        </a>
      </div>
    </div>
    </div>
</section>