<footer class="footer" role="contentinfo">
  <div class="wrapper">
  <div class="footer__info">
      <div class="footer__info-brand">
        <img src="assets/img/logos/logo_quarentech.png"  
             alt="{{ info.eventName }} - Conectando comunidades">
      <p>
          {{ info.eventName }} - Conectando comunidades | {{info.year}}
      </p>
      </div>

  </div>
    <div class="footer__contact footer__contact--mobile">
        <p>Enviar e-mail para</p>
        <a href="mailto:sistemas.internet@ielusc.br">
        sistemas.internet@ielusc.br
        </a>
        <div class="footer__info-social footer__info-social--mobile">
          <a href="https://www.instagram.com/si.ielusc/" target="_blank">
            <img src="assets/img/instagram.png" class="footer__info-icon" alt="Instagram">
        </a>
        <a href="https://facebook.com/opensanca" target="_blank">
            <img src="assets/img/facebook.svg" class="footer__info-icon" alt="">
        </a>
        <a href="https://github.com/opensanca" target="_blank">
            <img src="assets/img/github.svg" class="footer__info-icon" alt="">
        </a>
        </div>
    </div>
    </div>
</footer>
